<h2>カートの中身</h2>
<table>
  <tr><th>商品名</th><th>価格</th><th>数量</th><th>小計</th><th></th></tr>
  <% total = 0 %>
  <% @cart.cart_items.each do |item| %>
    <% subtotal = item.product.price * item.qty %>
    <% total += subtotal %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.product.price %>円</td>
      <td><%= item.qty %></td>
      <td><%= subtotal %>円</td>
      <td><%= link_to "削除", cartitem_path(item), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %></td>

    </tr>
  <% end %>
</table>
<p><strong>合計金額: <%= total %>円</strong></p>

<%= link_to "商品一覧に戻る", products_path %>
